@font-face{
    font-family: "Duffish";
    src: url("../Font/Duffish.ttf") format("truetype");
}

body {
    background: linear-gradient(180deg, rgb(2, 4, 56) 0%, rgb(40, 65, 132) 100%);
    background-color: rgba(255, 255, 255, 1);
    border: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.imgae-container {
    width: 400px;
    height: 477px;
}

.blocks {
    display: flex;
    flex-direction: row;
    margin-top: 110px;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 100px;
}

#p1 {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    top: 0;
}

#p2 {
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(
    180deg,
    rgb(231, 163, 0) 0.52%,
    rgb(240, 194, 0) 27.08%,
    rgb(242, 219, 0) 52.08%,
    rgb(255, 240, 96) 77.6%,
    rgb(249, 255, 161) 100%
    );
    background-clip: text;
    color: transparent;
    font-family: "Duffish", Helvetica;
    font-size: calc(745px/9.3);
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    -text-fill-color: transparent;
    top: 0;
    max-width: 745px;
}

#p3 {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: calc(25px);
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    top: 0;
    max-width: 682px;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin-top: 34px;
}

.sign-up {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Duffish", Helvetica;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: normal;
    border-radius: 40px;
    border: none;
    padding: 8px 50px;
    color: #192A67;
    background-color: #FFF;
}

.how-works {
    border: solid 3px #ffffff;
    border-radius: 40px;
    background-color: transparent;
    color: #ffffff;
    font-family: "Duffish", Helvetica;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    padding: 8px 50px;
    margin-left: 40px;
}

.About-us {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.About-us {
    color: #FFF;
    text-align: center;
    font-family: "Poppins";
    font-size: 65px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#about-us {
    padding: 0;
    margin: 0;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

span {
    text-align: center;
    font-family: "Duffish";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: linear-gradient(180deg, #E7A300 4.17%, #F0C200 30.73%, #F2DB00 56.25%, #FFF060 80.73%, #FFF060 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#p4 {
    color: #FFF;
    font-family: "Poppins";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-align: center;
    margin: 0;
    margin-top: -70px;
    max-width: 895px;
}

.title1 {
    font-size: 65px;
}

.numbers-title {
    color: #FFF;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.boost {
    background: linear-gradient(180deg, #F9FFA1 0%, #FFF060 17.19%, #F2DB00 43.75%, #F0C200 66.15%, #E7A300 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Poppins;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.paragraphs {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 10px;
}

.plus {
    margin-top: 180px;
}

.icon-containers {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-top: 78px;
}

.icon-containers div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon-containers div img {
    width: 72px;
    height: 72px;
    margin-bottom: 20px;
}

.under-icon {
    color: #FFF;
    text-align: center;
    font-family: "Poppins";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#Contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 41px;
    min-width: 0px;
}

#hehe {
    margin-top: 86px;
    margin-bottom: 10px;
}

.normal, .long{
    background-color: #FFF;
    border-radius: 10px;
    width: 436px;
    border: none;
    padding: 10px 20px;
    font-family: "Poppins";
    font-style: normal;
    margin-bottom: 50px;
}

.normal {
    height: 60px;
}

.long {
    height: 240px;
}

@media screen and (max-width : 1150px) {
    .image-container {
        width: 0%;
        height: 0%;
    }

    .navigation {
        width: 0;
    }

    .links {
        min-width: none;
        width: 0;
    }

   
}
